on: [push, pull_request]

jobs:
  hub:
    name: "Publish on Docker Hub"
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        registry: ["dockerhub", "gitlab"]
    steps:
      - uses: actions/checkout@v2
        with:
          repository: "theforeman/foreman"
          ref: "develop"
      - name: Install Docker 
        # This is only necessary, because the pre-installer Docker version
        # seems to be a special Azure variant
        # which apparently has an old bug 
        run: |
          sudo apt remove moby-engine moby-cli
          sudo apt install docker.io
          sudo dockerd
          docker --version
      - name: build
        run: |
          docker build . --tag foreman 
      # https://github.com/elgohr/Publish-Docker-Github-Action/releases/tag/2.13 
      - uses: elgohr/Publish-Docker-Github-Action@b82ad077c06f24a94fc90a2627e0e11d9f55a49f 
        with:
          name: croydon/foreman
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}
          registry: https://registry.hub.docker.com
          tags: "latest"
        if: matrix.registry == 'dockerhub'
      - uses: elgohr/Publish-Docker-Github-Action@b82ad077c06f24a94fc90a2627e0e11d9f55a49f 
        with:
          name: ${{ secrets.GITLAB_DOCKER_NAME }}
          username: ${{ secrets.GITLAB_USERNAME }}
          password: ${{ secrets.GITLAB_ACCESS_TOKEN }}
          registry: ${{ secrets.GITLAB_DOCKER_REGISTRY }}
          tags: "latest"
          if: matrix.registry == 'gitlab'
